# Dataset — too large for git
realwaste-main/
data/*
!data/realwaste/
data/realwaste/*
!data/realwaste/.gitkeep

# Trained model weights
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.env

# OS
.DS_Store
Thumbs.db
